<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="main">

    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Enter a valid email address
    </div>

    <!-- Main component for a primary marketing message or call to action -->

    <div class="box-content">
        <span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span>
        <b th:text="#{dashboard-title}">Dashboard Panel</b>
        <span class="label label-custom pull-right"><b th:inline="text">[[${#httpServletRequest.remoteUser}]]</b></span>
        <hr />
        <div class="row box-text">
            <div class="col-md-4">
                <a href="#" th:text="#{dashboard-settings}"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span> Global Settingsz</a>
                <br />
                <a href="#">Link 2</a>
                <br />
                <a href="#">Link 3</a>
            </div>
            <div class="col-md-4">
                <a href="#">Link 4</a>
            </div>
            <div class="col-md-4">
                <a href="#">Link 5</a>
            </div>
        </div>
    </div>

</div>

</body>

</html>