<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="authorized/fragments/metas :: metas">
       <title></title>
</head>

<body>

<div th:include="authorized/fragments/navbar :: navbar"></div>

<div class="container">

    <!-- Content -->
    <div th:fragment="main">

        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Enter a valid email address
        </div>

        <!-- Main component for a primary marketing message or call to action -->

        <div class="box-content">
            <span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span>
            <b th:text="#{dashboard-title}">Dashboard Panel</b>
            <span class="label label-custom pull-right"><b th:inline="text">[[${#httpServletRequest.remoteUser}]]</b></span>
            <hr />
            <div class="row box-text">
                <div class="col-md-4">
                    <a href="/admin/settings" th:text="#{dashboard-settings}"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span> _GLOBAL_SETTINGS</a>
                    <br />
                    <a href="/admin/languages" th:text="#{language-settings}"><span class="glyphicon glyphicon glyphicon-plane" aria-hidden="true"></span> _SYSTEM_LANGUAGE</a>
                    <br />
                    <a href="/admin/offline" th:text="#{offline-settings}">_OFFLINE_MESSAGE</a>
                </div>
                <div class="col-md-4">
                    <a href="#">Link 4</a>
                </div>
                <div class="col-md-4">
                    <a href="#">Link 5</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->

</div>
<!-- /container -->

<div th:replace="authorized/fragments/footer :: footer"></div>

</body>
</html>

