<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="authorized/fragments/header :: header">
       <title></title>
</head>

<body>

<div th:include="authorized/fragments/navbar :: navbar"></div>

<div class="container">

    <!-- Content -->
    <div th:fragment="languages">

        <div class="box-content">
            Languages
        </div>

    </div>
    <!-- Content -->

</div>
<!-- /container -->

<div th:replace="authorized/fragments/footer :: footer"></div>

</body>
</html>

