spring:
    datasource:
        dataSourceClassName: org.h2.jdbcx.JdbcDataSource
        url: jdbc:h2:mem:silbato;DB_CLOSE_DELAY=-1
        databaseName:
        serverName:
        username:
        password:
    jpa:
      show_sql: true
      hibernate:
        ddl-auto: validate
    thymeleaf:
      cache: false
    logging:
      level:
          org:
            springframework:
              web: DEBUG
          hibernate: ERROR