<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
</head>
<body class="darker">

<div class="container darker">

    <form class="form-signin" th:action="@{/login}" method="post">
        <div class="form-signin-heading">
            <img src="images/logo.png" class="login_logo" />
            <p class="bg-danger text-info" th:if="${param.error}">
                Invalid username and password.
            </p>
            <p class="bg-danger text-info" th:if="${param.logout}">
                You have been logged out.
            </p>
        </div>
        <input type="text" name="username" class="form-control" placeholder="Username" />
        <input type="password" name="password" class="form-control" placeholder="Password" />
        <label class="checkbox pull">
            <input type="checkbox" value="remember-me" th:text="#{login-remember}" />
        </label>
        <button class="btn btn-primary" type="submit">Sign in</button>
    </form>

    <p class="text-center"><a href="http://www.balerocms.com">BaleroCMS Software v2.</a></p>

</div> <!-- /container -->

</body>
</html>
