<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="metas">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="../../favicon.ico" />

    <title th:text="#{dashboard-title}">Dashboard</title>

    <!-- include jquery -->
    <script src="/js/jquery-1.9.1.min.js"></script>

    <!-- include libraries BS3 -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />

    <!-- include summernote -->
    <link rel="stylesheet" href="/vendors/summernote/summernote.css" />
    <script type="text/javascript" src="/vendors/summernote/summernote.js"></script>

    <script type="text/javascript">
        $(function() {
            $('.summernote').summernote({
                height: 200
            });

            /**
            $('form').on('submit', function (e) {
                e.preventDefault();
                alert($('.summernote').code());
            });
             **/
        });
    </script>

    <!-- Dashboard css-->
    <link href="/css/dashboard.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

    <!-- Header Scripts -->

</head>

<body>
</body>

</html>

