<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title></title>
</head>

<body>

<!-- Header -->
<div th:fragment="header">

    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message" th:utext="${titleHeader}">
                        Title Header
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

</div>
<!-- /Header -->

</body>

</html>

